@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

*,
*::after,
*::before {
	box-sizing: border-box;
}

.top {
	border-top: 3px solid #ff7200;
}

.wrap {
	font-family: 'Open Sans';
	width: 1170px;
	margin: auto;
}

.main-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-menu>li>a {
	text-decoration: none;
	color: #343434;
	display: block;
	padding: 13px 15px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}

.main-menu>li>div>ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	background-color: #343434;
	padding: 10px;
	min-width: 250px;
}

.main-menu>li>div {
	position: absolute;
	padding-top: 20px;
}

.main-menu>li>div>ul>li>a {
	display: block;
	padding: 10px 25px;
	background-image: url(../Images/disk.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: 5px;
	text-decoration: none;
	color: #bbbbbb;
	font-weight: 300;
	font-size: 14px;
}

.main-menu>li:not(.link-img):hover>a {
	background-color: #343434;
	color: #ff7200;
}

.main-menu>li>div>ul>li:hover>a {
	color: white;
}

.main-menu>li>div>ul>li>a::after {
	content: "";
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	height: 14px;
	width: 5px;
	position: absolute;
	right: 80px;
	background-image: url(../Images/right.png);
	transition: 0.3s;
	opacity: 0;
}

.main-menu>li>div>ul>li:hover>a::after {
	opacity: 1;
	right: 20px;
}

.main-menu>li>div>ul>li>ul {
	position: absolute;
	list-style: none;
	left: 100%;
	background-color: #101010;
	margin-top: -30px;
	align-items: center;
	padding: 10px;
}

.main-menu>li>div>ul>li>ul>li>a {
	text-decoration: none;
	color: #f7f7f7;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
}

.banner {
	background-position: center;
	background-image: url(../Images/sofa.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 350px;
	text-align: center;
	display: flex;
	align-items: center;
	color: #f0f0f0;
}

.banner h1 {
	font-size: 30;
	font-weight: 600;
}

.banner p {
	font-size: 14;
	font-weight: 300;
}

.content {
	min-height: 1060px;
	background-color: white;
}

.SUBMENU {
	float: none;
	padding-top: 150px;
	padding-bottom: 100px;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #ff7200;
}

.SUBMENU ul {
	margin: auto;
	display: flex;
	justify-content: center;
	list-style: none;
}

.SUBMENU ul a {
	display: block;
	padding: 10px 20px;
	outline: 1px solid #e4e4e4;
	text-decoration: none;
	color: #666666;
	font-weight: 300;
	transition: .3s;
}

.SUBMENU li a:hover,
.selected {
	display: block;
	padding: 10px 20px;
	background-color: #ff7200;
	color: white !important;
	transition: .3s;
}

.Portfolios {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.PORTFOLIO {
	flex: 0 0 270px;
	text-align: center;
	padding: 15px 0;
}

.picture {
	position: relative;
	height: 179px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
}
.full{
	position: absolute;
	height: 700px;
	width: 1000px;
	margin: 0 70px;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	align-items: center;
	justify-content: center;
	z-index: 1;
	outline: solid black 5px
}
.full::after{
	background-color: #030303;
	opacity: 0.3;
	width: 100vh;
	height: 100vh;
}

.Portfolios .PORTFOLIO .info {
	border-bottom: 1px solid #e4e4e4;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	height: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.Portfolios .PORTFOLIO p {
	color: #666666;
	font-weight: 300;
	line-height: 0;
}

.Portfolios .PORTFOLIO .title {
	color: #363636;
	font-weight: 400;
	line-height: 0;
}

.Portfolios .PORTFOLIO a {
	display: none;
	z-index: 2;
	border: 1px solid white;
	border-radius: 100px;
	width: 55px;
	height: 55px;
	text-decoration: none;
	color: white;
	align-items: center;
	justify-content: center;
	float: left;
	margin: 0 22px;
}

.Portfolios .PORTFOLIO::before {
	background-clip: content-box;
	display: block;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1;
	transition: .5s;
}

.picture:hover a {
	display: flex;
}
.full:hover a {
	display: none;
}
.picture:hover::before {
	opacity: .9;
	transition: 0.3s;
}
.full:hover::before {
	opacity: 0;
	transition: 0.3s;
}
.picture::before {
	z-index: 1;
	content: "";
	background-color: #ff7200;
	display: block;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	transition: 0.4s;
}

.picture a:hover {
	background-color: white;
	color: #ff7200;
}

.Navi {
	list-style: none;
	margin-top: 75px;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.Navi ul {
	margin: auto;
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
}

.Navi>ul>li>a {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	margin-left: 12px;
	margin-right: 12px;
	height: 36px;
	width: 36px;
}

.Navi>ul>li>.button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	margin-left: 7px;
	margin-right: 7px;
}

.Navi ul a {
	text-decoration: none;
	color: #666666;
	font-family: 'Open Sans', sans-serif;
	background-color: #fdfdfd;

	outline: 1px solid #e4e4e4;
	transition: 0.3s;
}

.Navi ul a:hover {
	color: white;
	background-color: #ff7200;
	outline: 1px solid #ff7200;
}

.buttonActive{
	background-color: #ff7200 !important;
	color: white !important;
}

.footer {
	margin-top: 200px;
	background-color: #303030;
	padding-top: 55px;
	color: white;
}

.row {
	display: flex;
	justify-content: space-between;
}

.row .footer-item {
	flex: 0 0 270px;
}

.footer-item p {
	color: #acabab;
	font-size: 14px;
	line-height: 15px;
}

.footer-item h3 {
	font-size: 20px;
}

.post {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	height: 100px;
	margin-bottom: 15px;
}

.post-img {}

.footer-item .lilTitle {
	color: white;
	margin-top: 30px;
	line-height: 0px;
}

.footer-item .social-items {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.footer-item .social-items a {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 20px;
	border: 1px solid white;
	border-radius: 50px;
	width: 42px;
	height: 42px;
}

.post .post-text {
	margin-left: 20px;
}

.post .post-text p {
	padding-top: 0px;
	margin-top: 0px;
	line-height: 15px;
	margin-bottom: 0px;
	font-size: 13px;
}

.post .post-text .post-date {
	color: #ff7200;
	margin-top: 10px;
}

.post .post-text .lilTitle {
	margin-bottom: 10px;
	font-size: 14px;
}

.accordion {}

.accordion .acord {
	border-bottom: 1px solid #dbdbdb;
	margin-top: 0px;
	margin-bottom: 15px;
}

.accordion .acord .head-acord {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.accordion .acord .head-acord .lilTitle {
	margin: 0px;
}

.accordion .acord .head-acord a {

	height: 17px;
	width: 17px;
	border-radius: 100px;
	background-color: #ff7200;
	color: white;
	text-decoration: none;
	text-align: center;
	margin: 0px;
	line-height: 17px;
	font-size: 17px;
}

.accordion .acord .body-acord p {
	font-size: 13px;
}

.accordion .acord .body-acord {
	display: none;
}

.minus {
	content: "-";
}

form {}

.footer-item form .form-item {
	margin-bottom: 15px;
}

.footer-item form .form-item input {
	width: 270px;
	height: 35px;
	background-color: #f7f7f7;
	border-radius: 5px;
	border: 0px;
	padding-left: 5px;
	background-position: 95%;
	font-size: 14px;
}

.footer-item form .form-item textarea {
	width: 270px;
	height: 120px;
	background-color: #f7f7f7;
	border-radius: 5px;
	border: 0px;
}

.form-item {
	display: flex;
	justify-content: flex-end;
}

#text {
	background-image: url(../Images/name.png);
	background-repeat: no-repeat;
}

#email {
	background-image: url(../Images/mail.png);
	background-repeat: no-repeat;
}

#message {
	background-image: url(../Images/message.png);
	background-repeat: no-repeat;
}

#button {
	background-image: url(../Images/Submit.png);
	background-repeat: no-repeat;
}

.footer-item form .form-item input[type="submit"] {
	color: white;
	width: 115px;
	height: 35px;
	background-color: #ff7200;
	padding-left: 25px;
	border-radius: 5px;
	border: 0px;
	background-image: url(./Images/mail.png);
	background-repeat: no-repeat;
	background-position: 16% 50%;
}

.footer-item form .form-item textarea {
	resize: none;
	font-size: 14px;
	padding-left: 5px;
	padding-top: 10px;
	background-position: 95% 10%;
}

.bottom {
	height: 62px;
	background-color: #202020;
}

.bottom .wrap {
	height: 62px;
	display: flex;
	justify-content: space-between;
}

.bottom .wrap .info {
	height: 62px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: white;
	font-size: 14px;
}

.bottom .wrap .info p {
	margin-left: 20px;
}

.bottom .wrap .links {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bottom .wrap .links ul {
	margin: auto;
	display: flex;
	justify-content: center;
	list-style: none;
}

.bottom .wrap .links>ul>li>a {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 30px;
}

.bottom .wrap .links ul a {
	text-decoration: none;
	color: #acabab;
}