body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#mewtwo{
    border: 3px solid rgb(38, 112, 63);
    margin: 0 auto;
}
.active{
    border: 3px solid black !important;
    border-radius: 5px;
    filter: blur(5px);
}
ul{
    list-style: none;
}
*{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
.acordion{
    display: flex;
    width: 816px;
    background-color: #28c0c6;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: relative;
}
.acordion li{    
    display: flex;
    flex-direction: column;
    width: 100%;
    
    position: relative;
}
.act-acord{
    background-color: #0799a0;
}
.act-acord2{    
    transform: translateX(0px) !important;
}
.head-acord{
    height: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
    position: relative;
    transition: 0.2s;
}
.head-acord:not(:first-child){    
    border-top: 1px solid white;
}
.head-acord p{
    padding: 20px;
}
.head-acord p i{
    padding-right: 20px;
}
.head-acord a{
    padding-right: 30px;
    transition: 0.2s;
}
.acordion li ul{
    display: flex;    
    flex-direction: column;  
    width: 100%;  
    
    position: relative;
}
.acordion li ul li{
    border-top: 1px solid white;
    width: 100%;
    height: 50px;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
    
    position: relative;  
}
.acordion li ul li {
    width: 100%;
    position: relative;
}
.acordion li ul li p{
    display: block;
    padding-left: 50px;
    width: 300px;
}
.acordion li ul li a{
    display: block;
    padding-right: 30px;
}
.acordion li ul li ul {
    display: block;
    position: absolute;
    border-left: 1px solid white;
    left: 100%;
    margin-top: 202px;
    width: 300px;    
    transform-origin: left;
    transition-timing-function: ease-in-out;
    transition: 0.3s;
    transform: translateX(-310px);
    z-index: -1;
}
.acordion li ul li ul li{    
    background-color: #0799a0;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.acordion li ul li ul li p{
    text-align: center;
    padding: 0;
}
.slider{
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.slider a{
    color: black;
    font-size: 40px;
    text-align: center;
    margin-top: -40px;
    margin-right: 40px;
    margin-left: 40px;
}
.slide{
    width: 200px;
    height: 250px;
    margin: 20px;
    display: none;
}
.slide img{
    width: 200px;
}
.slide p{
    color: #030303;
    text-align: center;
    font-size: 24px;
}
.slide1{
    display: inline;
    order: 1;
}
.slide2{    
    display: inline;
    order: 2;
}
.slide3{
    display: inline;
    order: 3;
}








@media only screen and (max-width: 1200px) {
    .acordion li ul li ul{
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
        width: 100%;
        margin-top: calc(202px + 100px);
        transform: translateX(0) scaleY(0);
        transform-origin: top;
    }
    .acordion li ul li ul li{
        width: 100%;
    }
    .act-acord2{    
        transform: scaleY(1);
    }
    .acordion li ul li .act-acord2 a i{
        z-index: 2;
    }
    
  }
  @media only screen and (max-width: 900px) {
    .acordion{
        width: 600px;
    }
    
  }
  @media only screen and (max-width: 650px) {
    .acordion{
        width: 400px;
    }
    .head-acord{
        height: 80px;
    }
    #mewtwo{
        width: 650px;
    }
  }
  @media only screen and (max-width: 410px) {
    .acordion{
        width: 250px;
    }
    .head-acord{
        height: 80px;
    }
    #mewtwo{
        width: 410px;
    }
  }