@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{
	font-family: 'Playfair Display', serif;
	width: 1060px;
	margin: auto;
}
h2{
    color: #626262;
    font-size: 30px;
    font-weight: 400;
}
h3{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
    font-size: 14px;
    color: #b4ad9e;
}
header{
    margin: 0 auto;
    display: flex;
    height: 160px;
    align-items: center;
    justify-content: space-between;
}
header h1{
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    font-size: 30px;
}
.MainMenu{
	list-style: none;
    display: flex;
    width: 570px;
	justify-content: space-between;
	align-items: center;
}
.MainMenu>li>a{
	text-decoration: none;
	color: #626262;
	display: block;
}
.MainMenu>li:hover>a{
	color: #ff7200;
}
main{
    margin: 0 auto;
    width: 1060px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.content{
    margin: 100px;
    width: 900px;
}
.content h2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.content p{
    margin-bottom: 50px;
}
.BigPost{    
    margin-bottom: 40px;    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.Post{
    width: 420px;
    height: 490px;
    margin-bottom: 140px;
}
.Post h3{
    margin-top: 20px;
}
.Post h2{
    margin-top: 20px;
    margin-bottom: 30px;
}
.newsletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 40px;
    background-color: #f0f0f0;
    height: 290px;
}
.newsletter h2{
    font-size: 36px;
    color: #333333;
    margin-bottom: 30px;
}
.newsletter form input[type = "email"]{
    margin-top: 40px;
    background: none;
    border: none;
    color: #626262;
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    width: 400px;
}
.newsletter form input[type = "submit"]{
    background-image: url(Images/sendIcon.png);
    background-repeat: no-repeat;
    width: 36px;
    height: 20px;
    border: none;
    position: absolute;    
    margin-left: -36px;
    margin-top: 42px;
}
button{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: #626262; 
    position: absolute;
    margin-top: 820px;
    width: 160px;
    height: 60px;
    background-color: white;
    border: 1px solid #626262;
    transition: 0.3s;
}
button:hover{
    background-color: #626262;
    color: white;
}
footer{
    display: flex;
    justify-content: space-around;
    place-content: center space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 320px;
    background-color: #f0f0f0;
    height: 100px;
}
.footerblock{
    display: flex;    
}
.footerblock p a{
    text-decoration: none;
    color: black;
    padding-right: 20px;
    font-size: 14px;
    transition: 0.3s;
}
.footerblock i{
    color: #626262;
    transition: 0.3s;
}
.footerblock p a:hover{    
    color: #ff7200;    
}
.footerblock p a:hover i {
    color: #ff7200;
}